@model ProvaAlexandre.Dominio.Filho

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<fieldset>
    <legend>Filho</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MaeId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MaeId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FuncionarioId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FuncionarioId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sexo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sexo)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Editar", new { id=Model.FilhoId }) |
</p>
