@model IEnumerable<ProvaAlexandre.Dominio.Equipamento>

@{
    ViewBag.Title = "ListarCliente";
}

<h2>ListarCliente</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Equipamento_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Funcionario_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NSerie)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Equipamento_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Funcionario_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NSerie)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
