@model ProvaAlexandre.Dominio.Funcionario

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<h3>Tem Certeza de que quer deletar esses dados?</h3>
<fieldset>
    <legend>Funcionario</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Idade)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Idade)
    </div>

    <div class="display-label">
         Função
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Funcao)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Sim" /> |
        @Html.ActionLink("Não", "Index")
    </p>
}
